* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-nav,
.navbar-brand {
    padding: 0px 50px;
}
.content {
    padding: 0;
    margin-top: 0;
}

.navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.profile {
    padding-right: 15px;
    color: rgb(173, 173, 173);
    margin-top: 6px;
    font-weight: 300;
}
.d-flex {
    color: rgb(173, 173, 173);
}
.navbar-brand img {
    border-radius: 80%;
}
