@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

.medics {
    margin-left: 250px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

h3 {
    color: #190033;
}

h4 {
    color: #330033;
}

.contain {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#medics input[class="text"],
#medics input[class="pId"],
#medics input[class="cname"],
#medics input[class="ctg"],
#medics input[class="type"],
#medics input[class="price"],
#medics button[class="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#medics {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#medics h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#medics h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#medics input[class="text"],
#medics input[class="pId"],
#medics input[class="cname"],
#medics input[class="ctg"],
#medics input[class="type"],
#medics input[class="price"] {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#medics input[class="text"]:hover,
#medics input[class="pId"]:hover,
#medics input[class="cname"]:hover,
#medics input[class="ctg"]:hover,
#medics input[class="type"]:hover,
#medics input[class="price"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#medics textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#medics button[class="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #190033;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#medics button[class="submit"]:hover {
    background: #330033;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#medics button[class="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#medics input:focus,
#medics textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

 ::-webkit-input-placeholder {
    color: #888;
}

 :-moz-placeholder {
    color: #888;
}

 ::-moz-placeholder {
    color: #888;
}

 :-ms-input-placeholder {
    color: #888;
}